.btn {
	border-radius: 0px;
}

.jumbotron.jumbotron-fluid {
    background-image: url("https://piction.clevelandart.org/cma/ump.di?e=200F1C6F760C768BFCC88A4487E6306AD60878FB4558F9E90F3EF894ECE2E4B7&s=21&se=335697428&v=&f=2003.386_o10.jpg");
    height: 300px;
    position: relative;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.form-group[type=text] {
    border-bottom: 1px solid #4dd0e1;
    box-shadow: 0 1px 0 0 #4dd0e1;
  }