
{% extends "base.html" %} {% block title %}Open Look App{% endblock %} {% block body %}



<!--search-->
<div class="container">
    <h1>Ricerca avanzata in Solr</h1>
    <br>
    <p>Scegli i parametri e lancia la ricerca</p>
    <form action="/search" method="POST"> <!-- this is important! -->
        <div class="form-group">
            <!-- 
            <div class="row">
                <select name="filter_f" class="selectpicker">
                    <option value="" selected >Filtra</option>
                    <option value="creator_str">Autore</option>
                    <option value="collection_ss">Collezione</option>
                    <option value="id">Id</option>
                    <option value="license_ss">Licenza</option>
                    <option value="publisher">Publisher</option>
                    <option value="title">Titolo</option>
                    <option value="viaf">Viaf</option>
                    <option value="wikidata">Wikidata</option>
                </select> -->
            <input class="form-control" id="inputdefault" type="text" name="user_input" placeholder="Search..." value="{{ request.form['user_input'] }}"/>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="group-by">Raggruppa per <em>(opzionale)</em></label>
                    <select name= "grouping" class="custom-select" id="group-by">
                        <option value="" selected >Scegli un'opzione...</option>
                        <!-- option value must match schema in SolR -->
                        <option value="creator_db_map" >Autore</option>
                        <option value="collection_db_map" >Collezione</option>
                        <option value="license_db_map" >Licenza</option>
                        <option value="language_db_map" >Lingua</option>
                        <option value="publisher_db_map" >Publisher</option>
                        <option value="typology_db_map" >Tipologia</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <label for="select-col">Seleziona colonne <em>(opzionale)</em></label>
                    <select name= "selection" class="selectpicker" id="select-col" multiple data-live-search="true" title="Scegli un'opzione">
                        <option value="title" >Title</option>
                        <option value="publisher" >Publisher</option>
                        <option value="typology" >Typology</option>
                        <option value="creator_sort" >Creator</option>
                        <option value="viaf" >Viaf</option>
                        <option value="viafname" >Viafname</option>
                        <option value="wikidata" >Wikidata</option>
                        <option value="collection_ss" >Collection</option>
                        <option value="language_ss" >Language</option>
                        <option value="license_ss" >License</option>
                        <option value="subject_ss" >Subject</option>
                        <option value="tag_ss" >Tag</option>
                        <option value="description" >Description</option>
                        <option value="coverage_ss" >Coverage</option>
                        <option value="schoolgrade_ss"" >Schoolgrade</option>
                    </select>
                </div>
            </div>
            </div>
        <input type="submit" name="action" value="Search" class="btn btn-primary" />
    </form>
</div>
<br>
<!--table-->
<div class="container">
    {% if rv %}
    <div class="alert alert-info" role="alert">
        Hai cercato: {{ rv }}
    </div>
    {% endif %}
    <div>{{ data | safe }}</div>
        <!--<h2>Risultati per la ricerca: {{ data|length }}</h2>
        <table>
            <thead><tr><th>Name</th><th>Count</th></tr></thead>
            <tbody>
            {% for r in data %}
            <tr><td>{{ r["publisher"] }}</td><td>{{ r["publisher"]|length }}</td></tr>
            {% endfor %}
            </tbody>
            </table>
        <br>-->   
</div>

<script>
    $(document).ready(function(){
        $("#select-col").selectpicker();
    })
</script>
    <!-- vecchio form search
    <form action="/search" method="POST">
        <div class="form-group">
            <div class="col-xs-3">
                <input class="form-control" id="inputdefault" type="text" name="user_input" />

                <br>
                <~~! post btn ~~>
                <input type="submit" name="action" value="Search" class="btn btn-primary" />
            </div>
        </div>
         <!~~ option value must match schema in SolR ~~>
        <label class="radio-inline">
            <input type="radio" name="options" value="title">Title
        </label>
        <label class="radio-inline">
            <input type="radio" name="options" value="creator">Author
        </label>
        <br>
    </form>
    <br>-->

<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

{% endblock %}