{% extends "base.html" %} {% block title %}Open Look App{% endblock %} {% block body %}

<!--background image-->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1>La collezione OPEN in MLOL</h1><br>
      <p>Prova!</p> 
    </div>
</div>
<div class="container">
    <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-md-8">
            <div class="card-body">
                <h3 class="card-title">SOLR SEARCH</h3>
                <p class="card-text">Dove è possibile fare delle query complesse direttamente a Solr.</p>
                <a href="/search" class="btn btn-primary" role="button">Vai</a>
            </div>
          </div>
          <div class="col-md-4">
                <img src="/static/images/switchboard-operator-big.jpg" class="card-img" alt="Vai alla pagina" >
          </div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-md-8">
            <div class="card-body">
                <h3 class="card-title">AUTHORITY CONTROL</h3>
                <p class="card-text">Dove si fanno operazioni sull'Authority control: Viaf e Wikidata.</p>
                <a href=" à" class="btn btn-primary disabled" role="button" aria-disabled="true">Still working</a>
            </div>
          </div>
          <div class="col-md-4">
                <img src="/static/images/compositor.jpg" class="card-img" alt="Vai alla pagina" >
          </div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-md-8">
            <div class="card-body">
                <h3 class="card-title">PUBLISHER</h3>
                <p class="card-text">Dove si ragiona su publisher e distributori.</p>
                <a href="#" class="btn btn-primary disabled" role="button" aria-disabled="true">Still working</a>
            </div>
          </div>
          <div class="col-md-4">
                <img src="/static/images/balloon-advertising.jpg" class="card-img" alt="Vai alla pagina" >
          </div>
        </div>
    </div>
    <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-md-8">
            <div class="card-body">
                <h3 class="card-title">COLLEZIONI</h3>
                <p class="card-text">Dove si controllano e compongono le collezioni.</p>
                <a href="#" class="btn btn-primary disabled" role="button" aria-disabled="true">Still working</a>
            </div>
          </div>
          <div class="col-md-4">
                <img src="/static/images/train-ghosts-1.jpg" class="card-img" alt="Vai alla pagina" >
          </div>
        </div>
    </div>
</div>
<!--
    <div class="card" style="width: 100%;">
        <div class="row no-gutters">
            <div class="col">
                <div class="card-body">
                    <h3 class="card-title">SOLR SEARCH</h3>
                    <p class="card-text">Dove è possibile fare delle query complesse direttamente a Solr.</p>
                </div>             
            </div>
            <div class="col-md-auto">
                <!~~Variable width content~~>
            </div>
            <div class="col col-lg-2">
                <a href="/search">
                <img src="/static/images/dusky-mirror.jpg" class="card-img" alt="Vai alla pagina" >
                </a>
            </div>
        </div>
      </div>
    </div>
</div>
-->
<!--
<div class="container">
    <h1>Index</h1>
    <p>Request: {{ req }}</p>
    <br>
    <p>Current URL: {{ local_url_selected }}</p>
    <br>
    <p>Add URL's app/index.json</p>
    <form action="/" method="POST">
        <div class="form-group">
            <div class="col-xs-6">
                <label for="sel1">Select and set url:</label>
                <select class="form-control" name="SelectUrl" id="sel1">

                    {% for x in local_urls %}
                    <option value="{{ x }}">{{ x }}</option>
                    {% endfor %}
                </select>

                <br>
                
                <input type="submit" name="action" value="Set" class="btn btn-primary" />
                <br>
                <br>
            </div>
        </div>
</div>

</form>
</div>
-->
<!-- debug
<p>selectd {{ local_url_selected }}</p>
{{ local_urls }}
-->
{% endblock %}